@model BookStore.Entities.Book

@{
    ViewData["Index"] = Model.Title;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Books</title>
</head>
<body>
<div>
    <h1>@Model.Title</h1>
    <p><strong>@Model.Author</strong></p>
    <p>@Model.Description</p>
    <p>Price: @Model.Price</p>
    <form action="@Url.Action("Add", "Cart")" method="post">
        <input type="hidden" name ="id" value = "@Model.Id"/>
        <button class="btn btn-outline-success" type="submit">To cart</button>
    </form>
</div>
</body>
</html>