@model ConfirmationModel

@{
    ViewData["Title"] = "Phone confirmation";
}

<h1>Phone confirmation</h1>

<form action="@Url.Action("Confirmate")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId"/>
    <input type="hidden" name="cellPhone" value="@Model.CellPhone"/>
    <div class="form-group">
        <label for="code">Submit code</label>
        <input type="text" class="form-control" name="code" placeholder="0000"/>
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }

    </div>
    <button type="submit" class="btn btn-success">Check</button>
</form>

<form action="@Url.Action("SendConfirmationCode")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId"/>
    <div class="form-group">
        <label for="cellPhone">Cell Phone: </label>
        <input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone"/>
    </div>
    <button type="submit" class="btn btn-success">Send code again</button>
</form>